<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuneGen</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sedgwick Ave' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Glory' rel='stylesheet'>
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <a href="/"><img src="../static/Logo.png" alt="Logo"></a> 
        </div>

        <div class="p">
            <a href="/"><h1>TuneGen</h1></a>
        </div>
    </nav>

    <div class="detail">
        <h1>Beat the <span class="spanA">Mood</span></h1>
        <p>Discover music that matches your mood with our
            <br> emotion based recommendation system.
        </p>
        <br>
        <div class="left">
            <form action="/detection" method="GET"><button class="btn">Find Music</button></form>
        </div>
    </div>

    <div class="image">
        <img src="../static/land page gif.png" class=panda>
    </div>

    <section class="features">
        <h2>Key Features</h2>
        <div class="features-container">
            <div class="feature">
                <i class="fas fa-heartbeat"></i>
                <h3>Emotion Detection</h3>
                <p>Accurately detects your current mood to provide the perfect music match.</p>
            </div>
            <div class="feature">
                <i class="fas fa-music"></i>
                <h3>Personalized Playlists</h3>
                <p>Playlists that suit your mood, whether you're happy, sad, surprise or anything in between.</p>
            </div>
            <div class="feature">
                <i class="fas fa-brain"></i>
                <h3>AI-Powered</h3>
                <p>Uses advanced AI to understand your emotions and recommend songs accordingly.</p>
            </div>
            <div class="feature">
                <i class="fas fa-share-alt"></i>
                <h3>Share Your Mood</h3>
                <p>Share your mood and music with friends and discover what they're listening to.</p>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-container">
          <section class="social-media">
            <a href="#!" role="button" class="fab fa-facebook-f span1"></a>
            <a href="#!" role="button" class="fab fa-twitter span2"></a>
            <a href="#!" role="button" class="fab fa-google span3"></a>
            <a href="#!" role="button" class="fab fa-instagram span4"></a>
            <a href="#!" role="button" class="fab fa-linkedin span1"></a>
            <a href="#!" role="button" class="fab fa-github span2"></a>
          </section>
        </div>
        <div class="footer-container">
          <p><a class="footer-link" > ©Copyright Reserved by MS & KAK</a></p>
        </div>
    </footer>

</body>
</html>
